/* CSS Document */
.men_center{
	
	margin: 100px;
	
	
	
	
}
.item1_top{
		display: flex;
	width: 93.7%;
	height:35.94%;
	margin: 0 auto;
	justify-content: space-between;
	
	
	
	
}
.item1_inner{
	
	width: 29.94%;
	height:45.61%;
	
	
}
.item1_inner img{
		 opacity:1;
  transition: .3s ease-in-out;
	}
	.item1_inner img:hover{
		opacity:0.8;
  
	}
.item1_bottom{
	display: flex;
	width: 93.7%;
	height: 35.94%;
	margin: 100px auto;
	justify-content: space-between;
	
	
	
}
.item1_taxt{
	
	text-align: center;
	color: #FFFFFF;
	
	
}
.item1_taxt dl{
	
	
	
}


.item1_taxt dt{
	font-size: 16px;	
	
    margin-top: 20px;
}

.item1_taxt dd{
	
		font-size: 30px;	
	
}

