/* CSS Document */


.nav {
    width: 582px;
    margin: 0 auto 0 auto;
    text-align: center;
}

/* Navigation */

.nav {
    font-family: Georgia, Arial, sans-serif;
    font-size: 20px;
	display: flex;
	width: 800px;
}

.nav-items {

}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}
.nav-link span{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.nav-link span.current a,
.nav-link span a:hover{
  color:#AEA8A8;
}

.nav-link span a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.nav-link span.current a::after,
.nav-link span a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link, 
.nav-link:visited, 
.nav-link:active,
.submenu-link,
.submenu-link:link, 
.submenu-link:visited, 
.submenu-link:active {
    display: block;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
	color: #eee;
	
}

.nav-link,
.nav-link:link, 
.nav-link:visited, 
.nav-link:active {
    color: #000;
    font-weight: bold;
}

/*.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}*/

/*.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}
*/
.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position:absolute;
    top: 6px;
    right: 0px;
    border: 5px solid transparent;
    border-top-color: #000;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index:100;
    width: 1366px;
    margin-left:-138px;
    background: #000;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity:0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after, 
.submenu::before {
    content: ""; 
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -180px;
    border: 10px solid transparent;
    height: 0;

}

.submenu::after {
    border-bottom-color: #000;
}

.submenu::before {
    margin-left: -13px;
    border: 3px solid transparent;
    -webkit-filter:blur(1px);
    filter:blur(1px);
}
.submenu{

}
.submenu-items {
	color: #fff;
    list-style: none;
    padding: 10px 0;
	display: flex;
    width: 980px;
	margin: 0 auto;
justify-content: space-around;

	
}

.submenu-item {
 
}

.submenu-link,
.submenu-link:link, 
.submenu-link:visited, 
.submenu-link:active {
    color: #fff;
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid #eee;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}
